body {
  background-color: #ffffff;
  font-family: Arial, sans-serif;
}

.titulo {
  color: royalblue;
  text-align: center;
}

#enviar {
  background-color: rgb(200, 43, 243);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}
